
body {
    background-color: #c0c0c0;
}

main {
    background-image: url("../images/escheresque.png");
    box-shadow: 0px 0px 40px #aaa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
}

.my-name {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 5vh;
}

.new-h1 {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-style: italic;
}
