
/* Global CSS */

body {
    background-color: #c0c0c0;
}

main {
    background-image: url("../images/escheresque.png");
    box-shadow: 0px 0px 40px #aaa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
}

.my-name {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 5vh;
}

.my-h1 {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-style: italic;
}


/* About Me Page CSS */
.bio {
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.my-fig-cap {
    font-size: 10px;
    color: #c0c0c0;
}

.my-fig-cap a {
    text-decoration: none;
    cursor: pointer;
    color: #c0c0c0;
}

.my-fig-cap2 {
    font-size: inherit;
    color: #808080;
}


/* Contact Page CSS */
/* Override formatting on fontawesome icon links */
#social-media-icons .fa {
    color: #9a9da0;
}

#social-media-icons .fa:hover {
    color: #ffc108;
}   

.my-v-align {
    vertical-align: -20%;
}

/* Override submit button hover BootStrap formatting */
.btn-dark:hover {
    color: #1d2124;
    background-color: #ffc108;
    border-color: #1d2124;
}