/* .gallery__deck img {
    filter: grayscale(70%);
    border: 1px solid lightgray;
}

.gallery__deck img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.gallery__jumbo  a, a:focus, a:active {
      text-decoration: none; 
      color: inherit;
      margin: 0 auto;
}

.gallery__jumbo  a:hover {
    color: rgb(116, 102, 52);
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery__jumbo-text {
        background: rgba(255,255,255,.5);
        margin-top: 25px;
    }   

     .gallery__deck {
        margin: 0;
    }
} */


.gallery__deck-container {
    margin: 10px 0px 40px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px 12px;
}

.gallery__deck-container img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0px 0px 40px rgba(0,0,0,.3);
    border-radius: 5px;
}

#react-test {
    grid-area: 1 / 1 / span 2 / span 2;
}

#rydr {
    grid-area: 3 / 3 / span 2 / span 2;
}

#weather-dashboard {
    grid-area: 5 / 1 / span 2 / span 2;
}

#password-generator {
    grid-area: 7 / 3 / span 2 / span 2;
}
